@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#220022] text-white font-sans;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff3399;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #220022;
}
